.carousel
    .carousel__container
      // 1
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-1.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-2.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-3.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-4.jpg') alt='Sprandi packshot')
      // 2
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-1.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-2.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-3.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-4.jpg') alt='Sprandi packshot')
      // 1
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-1.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-2.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-3.jpg') alt='Sprandi packshot')
      a.carousel__item(href='#')
        img.carousel__image(src=require('../assets/images/packshot-4.jpg') alt='Sprandi packshot')
    .button
      a.button__link(href='#') Zobacz