.gallery
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        a.link(href='#')
          img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        a.link(href='#')
          img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        a.link(href='#')
          img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        a.link(href='#')
          img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        a.link(href='#')
          img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--xs
      .gallery__wrapper(style='--aspect-ratio: 600/813')
        a.link(href='#')
          img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/packshot-1.jpg') alt='Photo' loading='lazy')
    .button
      a.button__link(href='#') Zobacz wi&eogon;cej