.scroll-carousel-with-arrows.scroll-carousel-with-arrows--js
    .arrows
      .arrows__arrow.arrows__arrow--left-js
        img.scroll-carousel-with-arrows__image(src=require('../assets/images/left-arrow.svg') alt='arrow')
      .arrows__arrow.arrows__arrow--right-js
        img.scroll-carousel-with-arrows__image(src=require('../assets/images/right-arrow.svg') alt='arrow')
    .scroll-carousel-with-arrows__wrapper.scroll-carousel-with-arrows__wrapper--js
      .scroll-carousel-with-arrows__container
        a.scroll-carousel-with-arrows__item.scroll-carousel-with-arrows__item--js(href='#')
          img.scroll-carousel-with-arrows__image(src=require('../assets/images/packshot-1.jpg') alt='Photo')
          span.scroll-carousel-with-arrows__link(href='#') Zobacz wi&eogon;cej
        a.scroll-carousel-with-arrows__item(href='#')
          img.scroll-carousel-with-arrows__image(src=require('../assets/images/packshot-2.jpg') alt='Photo')
          span.scroll-carousel-with-arrows__link(href='#') Zobacz wi&eogon;cej
        a.scroll-carousel-with-arrows__item(href='#')
          img.scroll-carousel-with-arrows__image(src=require('../assets/images/packshot-3.jpg') alt='Photo')
          span.scroll-carousel-with-arrows__link(href='#') Zobacz wi&eogon;cej
        a.scroll-carousel-with-arrows__item(href='#')
          img.scroll-carousel-with-arrows__image(src=require('../assets/images/packshot-4.jpg') alt='Photo')
          span.scroll-carousel-with-arrows__link(href='#') Zobacz wi&eogon;cej
        a.scroll-carousel-with-arrows__item(href='#')
          img.scroll-carousel-with-arrows__image(src=require('../assets/images/packshot-5.jpg') alt='Photo')
          span.scroll-carousel-with-arrows__link(href='#') Zobacz wi&eogon;cej
        a.scroll-carousel-with-arrows__item(href='#')
          img.scroll-carousel-with-arrows__image(src=require('../assets/images/packshot-6.jpg') alt='Photo')
          span.scroll-carousel-with-arrows__link(href='#') Zobacz wi&eogon;cej